body {
    margin: 0; 
    padding: 0; 
    line-height: 2;  
    letter-spacing: 1.5px; /* adding more white space between leters */
    font-family: "Merriweather", serif;
    color: #4a4a4a;
    font-size: 0.8em;
       
}
.title-text h2 {
    line-height: 1.2;
    margin-top: 15px;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5em;
    color: #0C359E;
    line-height: 1.2;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    color: #0C359E;
    font-family: "Merriweather", serif;
}

.top-container {
    background: #e4aec8;
    background-image: linear-gradient(to bottom,#e4aec8, #f0eaed);
    padding-top: 20px;
}

.title-text {
    text-align: center;
}

.web-developer {
    display: flex;
    justify-content: start;
    align-items: start;
}
.img-mid {
  display: flex;
  justify-content: space-between; /* positions one at start, one at end */
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5px;
  padding-top: 0px;
}

.img-mid img {
  flex: 0 0 auto;
}

.middle-container {
    text-align: center;
    padding-top: 100px;
}

.profile > img {
    border-radius: 50%;
}

hr {
    border: dotted #8490bb 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.main {
  display: grid;
  grid-template-columns: 0.5fr 1fr; /* two equal-width columns */
  grid-template-rows: 1fr 1fr;  /* adjust rows based on content */
  width: 50%;
  gap: 10px;
  row-gap: 0.5rem;
  align-items: start;
  text-align: left;
  margin: 100px auto 0 auto;
}

.creating h3,
.learning h3 {
    padding-top: 0;
    margin-top: 0;
}

.laptop > img,
.phone > img {
  border-radius: 8px;
}

.contact {
    padding-bottom: 100px;

}
.contact > h3,
.contact > p,
.contact > a {
    padding-top: 20px;
}
.bottom-container {
    background-color: #3459b9;
    background-image: linear-gradient(to top, #3459b9, #a7bcf0);
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.btn {
    background: #e4aec8;
    background-image: linear-gradient(to bottom,#e4aec8, #f0eaed);
    color:#0C359E;
    border-radius: 8px;
    margin: 10px 20px 30px 40px;
    text-decoration: none;
    padding: 10px 20px 20px 20px ;
    font-size: 16px; 
}

.footer-link {
    color: #EE99C2;
    text-decoration: none;
    font-size: 0.8rem;
}

.copyright {
   color: #F6F5F5;
   font-family: 'Sacramento', cursive;
}

.message {
    margin-bottom: 50px;
    padding: 0 10px 0 10px;
}

.intro {
    padding: 0 10px 0 10px;
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    width: 85%;
    padding: 0 auto 0 auto;
    margin: 0 auto 0 auto;
    
  }
   
  h1 {
    font-size: 3em;
  }

  h2, h3 {
    font-size: 1.5em;
  }
  
  p, a, .btn {
    font-size: 0.9em;
  }

}